*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.tool-box{
    height: 100px;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}
.tool-container{
    background: aliceblue;
    display: flex;
    height: 70%;
    width: 70%;
    justify-content: space-evenly;
    position: relative;
}
.tool{

height: 60%;

width: 100%;
position: relative;
}
.tool img{
    height: 100%;
    width: 100%;
}
.drawing{
    /* background: lightgoldenrodyellow; */
}
#canvas{

}
.stricky{

position: absolute;

top: 214px;

left: 272px;

height: 276px;

width: 225px;

background: antiquewhite;
}
.header{

height: 10%;

width: 100%;

background: aliceblue;

display: flex;

justify-content: flex-end;

align-items: center;
}
.minimize{

height: 80%;

width: 10%;

background: lightgoldenrodyellow;

font-size: 46Px;

align-items: center;

display: flex;

align-items: center;
}
.close{
    height: 80%;
    width: 10%;
    background: lightgoldenrodyellow;
    margin: 3%;
    font-size: 20px;
}
.stricky-body{
    
outline: none;
    
padding: 10px;
    
overflow: none;
    
overflow: unset;
}
.active-tool{
    transform: scale(1.2);
}
.fade{
    opacity: 0.5;
}
.hide{
    /* display:block; */
}
.apper{
    display: contents;
}
.pencil-tool-kit{

height: 104px;

width: 168px;

background: aliceblue;

/* position: relative; */

position: absolute;

top: 66px;

left: -70px;

display: flex;

flex-direction: column;

justify-content: space-evenly;
}
.pen-size{
    width=100%;
    position: relative;
    top: 15px;
}
#pensize{
    width=100%
}
.color-tool{

display: flex;

justify-content: space-evenly;

align-content: center;

/* border: 1px solid; */

/* border-radius: 10px; */
}
.red{

height: 12px;

width: 18px;

background: red;
border: 10px;
    border-radius: 10px;
}
.black{

height: 12px;

width: 18px;

background: black;
border: 10px;
    border-radius: 10px;
}
.green{

height: 12px;

width: 18px;

background: green;
border: 10px;
    border-radius: 10px;
}
.yellow{

height: 12px;

width: 18px;

background: yellow;
border: 10px;
    border-radius: 10px;
}
.brown{

height: 12px;

width: 18px;

background: brown;
border: 10px;
    border-radius: 10px;
}
.blue{
    
height: 12px;
    
width: 18px;
    
background: blue;
border: 10px;
    border-radius: 10px;
}
.text{

}