*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.tool-box{
    height: 100px;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}
.tool-container{
    background: aliceblue;
    display: flex;
    height: 70%;
    width: 70%;
    justify-content: space-evenly;
}
.tool{

height: 60%;

width: 100%;
}
.tool img{
    height: 100%;
    width: 100%;
}
.drawing{
    /* background: lightgoldenrodyellow; */
}
#canvas{

}
.stricky{

position: absolute;

top: 214px;

left: 272px;

height: 276px;

width: 225px;

background: antiquewhite;
}
.header{

height: 10%;

width: 100%;

background: aliceblue;

display: flex;

justify-content: flex-end;

align-items: center;
}
.minimize{

height: 80%;

width: 10%;

background: lightgoldenrodyellow;

font-size: 46Px;

align-items: center;

display: flex;

align-items: center;
}
.close{
    height: 80%;
    width: 10%;
    background: lightgoldenrodyellow;
    margin: 3%;
    font-size: 20px;
}
.stricky-body{
    
outline: none;
    
padding: 10px;
    
overflow: none;
    
overflow: unset;
}
.active-tool{
    transform: scale(1.2);
}
.fade{
    opacity: 0.5;
}
